<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Botler </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">
    <link rel="stylesheet" href="/static/css/monokai.css" type="text/css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    
     
    <!-- CodeMirror and its JavaScript mode file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.css" />

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="/static/js/elastic-progress.min.js"></script>
    <script type="text/javascript" src="/static/js/python.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js">
     $(function() {

$('.Upload').ElasticProgress({/*options*/});

             });
        </script>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Botler Home</a>
            </div>  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   <section class="bg-primary" id = "abouttbhlol" style="height:2000px">
        <form action="/script_upload" id="script_uploader", method="POST">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Play Now</h2>
                        <hr class="light">
                        <p class="text-faded"> Welcome to the Botler IDE; the barracks before you release your code into battle.</p>
                        <br><br>
                        <p class="text-faded"> Below is an IDE for Botler. Tailored for Python, it allows you to write your code online, and test it too!</p>
                        <br><br>

                        <h3 class="section-heading">IMPORTANT</h3>
                        <p class="text-faded"> If you don't know how to format your python file, see the <a href="/docs" style="color:#FFFFFF">docs</a> </p>
                        <br><br>
                    </div>
                    <br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br>
                    <div class="fluid_container">
                        <div class="ide_container">
                            <textarea id="code" name="code" cols="120" rows="30" form="script_uploader">
#My awesome bot that plays games

from random import choice

def main(data):
    return choice(data['valid_moves'])
                            </textarea>
                            <br>
                            <input name="script_name" type="text" class="form-control" id="script_name" placeholder="Script Name">
                            <br>
                            <select name="game" form="script_uploader" class="form-control">
                              <option value="rps">Rock Paper Scissors</option>
                              <option value="tron">Light Cycle</option>
                            </select>

                        </div>

                    </div> 
                    <button type="submit" class="btn btn-primary btn-xl page-scroll prog_submit1">Upload File</button>

<!--                     <submit class = "">  </submit>
                    <submit onclick = "prompt_submit()" class= "btn btn-primary btn-xl page-scroll prog_submit2"> Use this program </submit>
 -->                </div>
            </div>

        </form>
    </section>  

    <script>
      var textarea = document.getElementById('code');
      var editor = CodeMirror.fromTextArea(textarea, {
        mode: {name: "python",
               version: 2,
               singleLineStringErrors: false},
        lineNumbers: true,
        indentUnit: 4
      });
      editor.setOption("theme", "monokai");
    </script>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/creative.js"></script>

</body>

</html>