<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Botler </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- CSS STUFF AND THINGS-->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js">
	 $(function() {
       $("#upload_button1").click(function() { 
           $("#file_upload1").click();
       });
   });
   $(function() {
       $("#upload_button2").click(function() { 
           $("#file_upload2").click();
       });
   });
		</script>
	

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Botler Home</a>
            </div>  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   <section class="bg-primary" id = "abouttbhlol">
        <div class="container" >
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Documentation</h2>
                    <hr class="light">
                    <p class="text-faded"> Welcome to the Botler Documentation!</p>
                    <br><br>
                    <p class="text-faded"> In these docs you will learn about the games we have available and how your program will interact in the gaming arena</p>

                    <br><br>

                    <h3 class="section-heading">Games</h3>
                    <p class="text-faded"> Botler currently supportes two games for a programmer to code for. These two games are Rock,Paper,Scissors, and LightBike. (We plan to do more in the future) </p>

                    <br><br><br><br>

                    <br>
                    <div class="row">
                        <pre class="prettyprint code_formatted_tiny" style="width:auto">"valid_moves"</pre>
                        <p class="text-faded input_description" style="padding-left:5px"> will contain a list of the valid return values the bots can return</p>
                    </div>

                    <div class="container-fluid">
                        <pre class="prettyprint code_formatted_tiny">"history"</pre>
                        <p class="text-faded input_description"> will contain a list of the history of wins and ties</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

</body>

</html>
